<nav class="main-nav">
    <div class="main-nav__sep">Navigate</div>
    <ul class="main-nav__list">
        <li class="main-nav__list__item" ng-class="vm.select('/analytics')"><a href="#/analytics"><i class="icon icon-analytics"></i> Analytics</a></li>
        <li class="main-nav__list__item" ng-class="vm.select('/news')"><a href="#/"><i class="icon icon-newspaper-o"></i> News</a></li>
        <li class="main-nav__list__item"><a href="#/"><i class="icon icon-board-brief"></i> Board Brief</a></li>
        <li class="main-nav__list__item"><a href="#/"><i class="icon icon-briefcase"></i> Briefcase</a></li>
        <li class="main-nav__list__item"><a href="#/"><i class="icon icon-angle-double-left"></i> Close Menu</a></li>
    </ul>
</nav>